.card img {
  height: 100px;
}

.card p {

  color: rgb(100, 100, 100);
  font-weight: bold;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(150, 150, 150);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(150, 150, 150);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
